.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 0;
    margin-bottom: 20px;
}

.gallery-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.gallery-btn {
    background: #444;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.gallery-btn:hover {
    background: #666;
}
@media (max-width: 600px) {
    .gallery-image {
        width: 100%;
        height: auto;
        max-height: 200px;
    }

    .gallery-btn {
        padding: 5px;
        font-size: 14px;
    }
}
.image-container {
    text-align: center;
}

.gallery-caption {
    font-size: 14px;
    color: #cccccc;
    margin: 5px 0 0 0;
}
.house-description,
.house-location,
.house-citq {
    font-size: 14px;
    color: #cccccc;
    margin: 5px 0;
}
